// Jinja template for test runner
#include <stdio.h>
#include "waddletest.h"

{{all_test_protos}}

typedef struct {
  char *name;
  const test_t *suite;
  int count;
} test_suite_t;

static const test_suite_t test_suite = {{test_suite}};

int run_test_suite(test_suite_t *t){
  int num_successes = 0;
  for(int i=0; i<t->count; i++){
    printf(BLUE "===============\n\r%s TEST\n\r===============\n\r" NOCOLOR, t->suite[i].test_name);
    
    if(t->suite[i].setup_func) t->suite[i].setup_func();
    bool ret = t->suite[i].test_func();
    if(ret){
      printf(GREEN "[PASS] %s " BLUE "TEST\n\r" NOCOLOR, t->suite[i].test_name);     
      num_successes++;
    } else{
      printf(RED "[FAIL] %s " BLUE "TEST\n\r" NOCOLOR, t->suite[i].test_name);     
    }
  }

  return num_successes;

}

int main(){
  printf(MAGENTA "===============\n\r%s SUITE\n\r===============\n\r" NOCOLOR, test_suite.name);
  
  int num_successes = run_test_suite(&test_suite);

  if(num_successes == test_suite.count){
    printf(GREEN "[PASS] %d/%d %s " MAGENTA "SUITE\n\r" NOCOLOR, num_successes, test_suite.count, test_suite.name);
  } else {
    printf(RED "[FAIL] %d/%d %s " MAGENTA "SUITE\n\r" NOCOLOR, num_successes, test_suite.count, test_suite.name);
  }
}
